<?xml version="1.0" encoding="UTF-8"?>

<!--Licensed to the Apache Software Foundation (ASF) under one or morecontributor 
	license agreements. See the NOTICE file distributed withthis work for additional 
	information regarding copyright ownership.The ASF licenses this file to You 
	under the Apache License, Version 2.0(the "License"); you may not use this 
	file except in compliance withthe License. You may obtain a copy of the License 
	athttp://www.apache.org/licenses/LICENSE-2.0Unless required by applicable 
	law or agreed to in writing, softwaredistributed under the License is distributed 
	on an "AS IS" BASIS,WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either 
	express or implied.See the License for the specific language governing permissions 
	andlimitations under the License. -->

<!-- The contents of this file will be loaded for each web application -->

<Context>

	<Resource
		url="jdbc:sqlserver://127.0.0.1:1433;databaseName=Project2"
		driverClassName="com.microsoft.sqlserver.jdbc.SQLServerDriver"
		password="manager" username="sa" maxWaitMillis="10000" maxIdle="30"
		maxTotal="100" type="javax.sql.DataSource" auth="Container"
		name="jdbc/myProject2" />

	<!-- Default set of monitored resources. If one of these changes, the -->


	<!-- web application will be reloaded. -->


	<WatchedResource>WEB-INF/web.xml</WatchedResource>

	<WatchedResource>WEB-INF/tomcat-web.xml</WatchedResource>

	<WatchedResource>${catalina.base}/conf/web.xml</WatchedResource>

	<!-- Uncomment this to disable session persistence across Tomcat restarts -->


	<!--<Manager pathname="" /> -->


</Context>