@charset "UTF-8";
label{
    /* font-style:italic;
    color: #FF95CA ;
    /* text-align: center;標題左中右*/

    font-weight: bold;
    margin-left: 15px; /*標題微調位置*/
}

fieldset{
    background-color: #FFD2D2;

}

/*字體大小+位置微調*/
.st_buy{
    font-size: 18px;
    margin-left: 8px;
    background-color: none;
}

.st_sell{
    font-size: 18px;
    margin-left: 6px;
    background-color: none;
}
.st_rod{
    margin-left: 2px;

}
.st_lim{
    margin-left: 15px;
}

.st_submit{
    margin-left: 5px;
}


/*選取確認*/
.st_change:hover{
    border: 2px red solid;
}

.st_onclick_color{   
    border: 2px red solid;
}

/*買紅賣綠背景色*/
.st_ckeck_buy{
    border: 2px black solid;
    background-color: red;
}

.st_ckeck_sell{
    border: 2px black solid;
    background-color: #28FF28;
}

